body{
    height: 1000px;
}
.figure1{
    width: 20%;
    height: 15%;
    border: 1px solid black;
}
.figure2{
    width: 100%;
    height: 5%;
    border: 5px solid black ;
    margin: 10px;
    text-indent: 4%;
    text-justify: auto; 
}
.figure3{
    margin: 10px;
    width: 90%;
    border: 1px solid orange;
}
.figure4{
    width: 50%;
    border: 1px solid turquoise;
}
.figure5{
    width: 50%;
    border: 1px solid black;
}
.figure6{
    width: 50%;
    border: 1px solid black;
}
.figure7{
    margin: 20px;
    width: 50%;
    border: 1px solid lightblue;
}
