body{
    height: 1000px;
}
.figure1{
    width: 20%;
    height: 15%;
    border: 1px solid black;
}
.figure2{
    width: 100%;
    border: 5px solid black ;
    margin: 10px;
    padding-left: 20px;
    padding-top: 20px;
    padding-bottom: 20px;

}
.figure3{
    margin: 10px;
    width: 90%;
    border: 1px solid orange;
}
.figure4{
    border-radius: 15px;
    width: 50%;
    height: 10%;
    border: 4px solid turquoise;
    border-style: round;

}
.figure5{
    padding-left: 2%;
    width: 100%;
    border: 1px solid black;
}
.figure6{
    width: 98%;
    border: 1px solid black;
    margin-left: 2%;
}
.figure7{
    border-radius: 15%;
    margin: 2% 10% 10% 35%;
    width: 10%;
    height: 8%;
    border: 4px solid lightblue;
    text-align: left;
    padding: 3%;
}
