h1{
    background-color: black;
    color: white;
    height: 60px;
    width: 100%;
    padding-top: 5px;
    padding-left: 5px;
    margin: 0px;
    font-size: 2.5em;
}
.subtitulos{
    background-color: grey;
    margin-top: 2px;
    margin-bottom: 2px;
    height: 15%;
    width: 100%;
}
.subtitulos h2{
    display: inline;
    margin: 1px;
    margin-right: 20%;
    margin-bottom: 0px;
    padding: 0px 45px;
    font-size: 2em;
}
ul{
    background-color: lightgray;
    margin: 0;
}
li{
    display: inline-block;
    width: 23%;
    list-style: none;
    font-size: 1.2em;
}
.articulo1{
    margin-top: 1%;
    display: flex;
    justify-content: left;
    flex-wrap: wrap;
}

.articulo1 div{
    float: left;
    width: 200px;
    height: 200px;
    margin-right: 10px;
    background-color: lightgray;
}
.articulo1 p{
    width: 80%;
    margin-top: 0%;
}
.articulo1 div p, .articulo2 div p{
    padding: 38%;
    color: rgba(80, 77, 77, 0.507);
}

.articulo2 div{
    float: left;
    width: 200px;
    height: 200px;
    margin-right: 10px;
    margin-top: 10px;
    background-color: lightgray;
}
.articulo2 p{
    display: inline-block;
    width: 40%;
}
footer{
    clear: both;
    background-color: lightgray;
    margin-top: 8%;
    height: 50px;
    width: 98%;
    padding-top: 20px;
    padding-left: 20px;
    font-size: 1.2em;
    font-weight: bold;
}
