body{
    padding-top: 0%;
    /* background: linear-gradient(to right, rgb(224, 144, 114), rgb(153, 209, 204)); */


}
header{
    /*background: linear-gradient(to right, rgb(233, 127, 88), rgb(119, 230, 220));*/
    background: linear-gradient(to right, white, rgb(174, 221, 217));

}
.informacionPersonal, .informacionExtra, .receta, .explicacionReceta, .comentarios, .enviar{
    display: flex;    
    flex-flow: row wrap;
    justify-content: center;
}

.informacionPersonal div, .informacionExtra div, .receta div, .explicacionReceta div, .comentarios div, .enviar div{
    padding: 15px;
}
.informacionPersonal div label, .informacionExtra div label, .receta div label, 
.explicacionReceta div label, .comentarios div label, .enviar div label{
    font-weight: bold;
}
.informacionPersonal div input, .informacionExtra div input, .receta div input, 
.explicacionReceta div input, .comentarios div input, .enviar div input{
    background: linear-gradient(to right, white, rgb(174, 221, 217));
}
textarea{
    background: linear-gradient(to right, white, rgb(174, 221, 217));
}
hr{
    border: none;
    height: 3.5px;
    background: linear-gradient(to right, rgb(212, 96, 53), rgb(45, 161, 152));
    margin-right: 20%;
    margin-left: 20%;
}
p{
    margin-top: 3%;
    margin-bottom: 3%;
    font-size: 1.5em;
}
.enviar div input{
    background: white;
}