*{
    font-family: Arial, Helvetica, sans-serif;
}
main{
    text-align: center;
    padding: 2%
}
body{
    margin: 0;
}
/*--------Header-------*/
header{
    position: sticky;
    top: 0;
    border-top: 2px solid #8A8070;
    border-bottom: 2px solid #8A8070;
    margin-left: 7%;
    margin-right: 7%;
    z-index: 100;
}
.imgTitulo{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
}

/*-------Menu------ */
.menu ul{
    font-weight: bold;
    display: flex;    
    flex-flow: row wrap;
    flex-grow: 5;
    justify-content: center;
}
.menu ul li{
    list-style: none;
    font-size: 1em;
    padding: 0 20px;
}
.menu ul li a{
    text-decoration: none;
    color: black;
    transition: all .5s;
}
.menu ul li a:hover{
    color: #7ABA96;
    font-size: 1.1em;
}

/*----------Footer-------*/
footer{
    padding: 1%;
    background-color: black;
}
footer ul{
    font-weight: bold;
    display: flex;    
    flex-flow: row wrap;
    justify-content: center;
}
footer ul li{
    list-style: none;
    font-size: 1em;
    padding: 0 25px;
}
footer ul li a{
    text-decoration: none;
    color: #9e917c;
    transition: all .5s;
}
footer ul li a:hover{
    color: #7ABA96;
    font-size: 1.1em;
}