/* ------Lateral Izquierdo-------*/
.lateralIzq{
    text-align: center;
    margin-right: 0%;
    margin-left: 12%;
    float: left;
    width: 18%;
}
.lateralIzq img{
    padding: 2%;
}
.lateralIzq p:first-child{
    font-size: 1.2em;
}
.lateralIzq div{
    padding: 2% 2% 1% 2%;
    background-color: lightgrey;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
.lateralIzq div p:nth-child(3){
    color: grey;
    text-align: justify;
    padding-right: 5%;
    padding-left: 5%;
    font-size: 0.95em;
}
.lateralIzq p.hola{
    text-align: justify;
    color: grey;
    font-size: 0.95em;
    padding-right: 5%;
    padding-left: 5%;
}
.lateralIzq p.apuntame{
    margin: 0;
    padding: 2%;
    background-color: #7ABA96;
}
.lateralIzq p.apuntame a{
    text-decoration: none;
    color: black;
    transition: all .5s;
}
.lateralIzq p.apuntame a:hover{
    color: lightgray;
    font-size: 1.05em;
}

/*------Primera seccion-------*/
.primeraSeccion article:nth-child(2){
    padding-left: 0%;
    margin: 0;
}
.primeraSeccion{
    margin-right: 5%;
    display: flex;    
    flex-direction: row;
    flex: auto;
    justify-content: space-between;
    width: 60%;
    font-size: 1.1em;
}
.primeraSeccion img{
    border-radius: 20px;
    max-height: 375px;
    max-width: 375px;
    transition: all .5s;
}
.primeraSeccion img:hover{
    filter: brightness(125%);
    transform: scale(1.2);
}
.primeraSeccion article{
    padding-right: 10%;
    padding-left: 10%;
}
.primeraSeccion article p:nth-child(3){
    border-top: 2px solid #7ABA96;
    border-bottom: 2px solid #7ABA96;
    margin: 0;
    font-size: 0.75em;
}
.primeraSeccion article p:nth-child(4){
    text-align: justify;
    font-size: 0.85em;

}
.primeraSeccion article p a{
    color: black;
    text-decoration: none;
    transition: all .5s;
}
.primeraSeccion article p a:hover{
    color: #7ABA96;
    font-size: 1.1em;
    text-decoration: underline #8A8070;
}

/*------Segunda seccion-------*/
.segundaSeccion article:nth-child(2){
    padding-left: 0%;
    margin: 0;
}
.segundaSeccion{
    margin-right: 5%;
    display: flex;    
    flex-direction: row;
    flex: auto;
    justify-content: space-between;
    width: 60%;
    font-size: 1.1em;
}
.segundaSeccion img{
    border-radius: 20px;
    max-height: 375px;
    max-width: 375px;
    transition: all .5s;
}
.segundaSeccion img:hover{
    filter: brightness(125%);
    transform: scale(1.2);
}
.segundaSeccion article{
    padding-right: 10%;
    padding-left: 10%;
}
.segundaSeccion article p:nth-child(3){
    border-top: 2px solid #7ABA96;
    border-bottom: 2px solid #7ABA96;
    margin-top: 15px;
    font-size: 0.75em;
}
.segundaSeccion article p:nth-child(4){
    text-align: justify;
    font-size: 0.85em;
}
.segundaSeccion article p a{
    color: black;
    text-decoration: none;
    transition: all .5s;
}
.segundaSeccion article p a:hover{
    color: #7ABA96;
    font-size: 1.1em;
    text-decoration: underline #8A8070;
}


/*----------Footer-------*/
footer{
    padding: 1%;
    background-color: black;
}
footer ul{
    font-weight: bold;
    display: flex;    
    flex-flow: row wrap;
    justify-content: center;
}
footer ul li{
    list-style: none;
    font-size: 1em;
    padding: 0 25px;
}
footer ul li a{
    text-decoration: none;
    color: #9e917c;
    transition: all .5s;
}
footer ul li a:hover{
    color: #7ABA96;
    font-size: 1.1em;
}
