/*
azul: #30c7d5;
naranja: #dd9e6b;
marron: #cf928b;
gris: #4e4e4e;

//Fuente de toda la página
font-family: "Lato", sans-serif;
font-size: 16px;

//Para Yo, Júlia
font-family: "Playfair Display", serif;

*/
*{
    margin: 0;
    border: 0;
    padding: 0;
    font-family: "Lato", sans-serif;
    font-size: 16px;
}

/* ----- Menu ---- */
header{
    position: sticky;
    top: 0;
    background-color: #30c7d5;
    padding: 1.2%;
}
.menu img{
    width: 5%;
}
.menu ul{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}
.menu ul li{
    padding: 10px 20px;
    list-style: none;
}
.menu ul li a{
    text-decoration: none;
    color: white;
    transition: all .5s;
    padding: 10px;
}
.menu ul li a:hover{
    background-color: #dd9e6b;
    font-size: 18px;
}

/* ----- Cabecera ----- */
.cabecera{
    background-color: #dd9e6b;
    height: 350px;
}
.cabecera article{
    margin: 0% 27%;
    padding-top: 2%;
}
.cabecera img{
    width: 30%;
    float: left;
    margin-right: 3%;
    margin-bottom: 2%;
}
.cabecera h2{
    color: white;
    font-size: 35px;
    padding: 2%;
    font-family: "Playfair Display", serif;
}
.cabecera p{
    color: #4e4e4e;
    text-align: justify;
}


/* ---- Sección abajo ---- */
.seccionAbajo{
    clear: both;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    text-align: center;
    color: #4e4e4e;
    margin: 2%;
}
.seccionAbajo img{
    width: 80%;
}
.seccionAbajo article{
    width: 30%;
    padding: 0 20px;
}
.seccionAbajo div{
    border: 1px solid black;
    margin: 0 3%;
    padding: 10%;
    position: relative;
    top: -50px;
    height: 70px;
}
.seccionAbajo h3{
    border-bottom: 1px solid black;
    padding: 1% 3%;
    margin: 2% 0%;
    transition: all .5s;
}
.seccionAbajo h3:hover{
    color: #30c7d5;
    font-size: 18px;
}

.seccionAbajo p{
    font-size: 14px;
    text-align: justify;
    margin-top: 5%;
}


/* ---- Footer ----- */
footer{
    margin-top: 3%;
    border-top: 4px solid #30c7d5;
    display: flex;
    justify-content: space-between;
    padding: 1.5%;
    color: #4e4e4e;
}
footer .iconosRRSS{
    text-align: right;
    width: 50%;
}
footer div img{
    width: 2.5%;
}