*{
    font-family: Arial, Helvetica, sans-serif;
}
main{
    text-align: center;
    padding: 2%;
}
hr{
    border: none;
    height: 1.5px;
    background: #7ABA96;
}

/*--------Header-------*/
header hr{
    border: none;
    height: 2px;
    background: #8A8070;
}
/* background: linear-gradient(to left, blue, red); */
.imgTitulo{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
}

/*-------Menu------ */
.menu{
    position: sticky;
    top: 0px
}
.menu ul{
    font-weight: bold;
    display: flex;    
    flex-flow: row wrap;
    flex-grow: 5;
    justify-content: center;
}
.menu ul li{
    list-style: none;
    font-size: 1em;
    padding: 0 20px;
}
.menu ul li a{
    text-decoration: none;
    color: black;
    transition: all .5s;
}
.menu ul li a:hover{
    color: #7ABA96;
    font-size: 1.1em;
}


/* ------Lateral Izquierdo-------*/
.lateralIzq{
    text-align: center;
    margin-right: 5%;
    margin-left: 10%;
    float: left;
    width: 15%;
}
.lateralIzq img{
    padding: 2%;
}
.lateralIzq p:nth-child(2){
    color: grey;
    text-align: justify;
}
.lateralIzq p:nth-child(4){
    margin: 0;
    padding: 1%;
    background-color: #7ABA96;
}
.lateralIzq div{
    padding: 2% 2% 1% 2%;
    background-color: lightgrey;
}
.lateralIzq div p:nth-child(3){
    color: grey;
    text-align: justify;
}

/*------Primera seccion-------*/
.primeraSeccion article:nth-child(2){
    padding-left: 0%;
    margin: 0;
}
.primeraSeccion{
    margin-right: 5%;
    display: flex;    
    flex-direction: row;
    flex: auto;
    justify-content: space-between;
    width: 60%;
    font-size: 1.2em;
}
.primeraSeccion img{
    max-height: 375px;
    max-width: 375px;
    transition: all .5s;
}
.primeraSeccion img:hover{
    filter: brightness(125%);
    transform: scale(1.2);
}
.primeraSeccion article{
    padding-right: 5%;
    padding-left: 5%;
}
.primeraSeccion article p:nth-child(3){
    border-top: solid #7ABA96;
    border-bottom: solid #7ABA96;
    margin: 0%;
    font-size: 0.75em;
}
.primeraSeccion article p:nth-child(4){
    text-align: justify;
    font-size: 0.85em;
}
/*------Segunda seccion-------*/
.segundaSeccion article:nth-child(2){
    padding-left: 0%;
    margin: 0;
}
.segundaSeccion{
    margin-right: 5%;
    display: flex;    
    flex-direction: row;
    flex: auto;
    justify-content: space-between;
    width: 60%;
    font-size: 1.2em;
}
.segundaSeccion img{
    max-height: 375px;
    max-width: 375px;
    transition: all .5s;
}
.segundaSeccion img:hover{
    filter: brightness(125%);
    transform: scale(1.2);
}
.segundaSeccion article{
    padding-right: 5%;
    padding-left: 5%;
}
.segundaSeccion article p:nth-child(3){
    border-top: solid #7ABA96;
    border-bottom: solid #7ABA96;
    margin: 0;
    font-size: 0.75em;
}
.segundaSeccion article p:nth-child(4){
    text-align: justify;
    font-size: 0.85em;
}

/*----------Footer-------*/
footer{
    padding: 1%;
    background-color: black;
}
footer ul{
    font-weight: bold;
    display: flex;    
    flex-flow: row wrap;
    justify-content: center;
}
footer ul li{
    list-style: none;
    font-size: 1em;
    padding: 0 25px;
}
footer ul li a{
    text-decoration: none;
    color: #9e917c;
    transition: all .5s;
}
footer ul li a:hover{
    color: #7ABA96;
    font-size: 1.1em;
}
.segundaSeccion article p:nth-child(2){
    margin: 0;
    padding: 0;
    border: 0;
}

