*{
    color: turquoise;
}
centro{
    display: flex;
    flex-flow: row wrap;
}
classe{
    border: 2px solid greenyellow;
    width: 10%;
    margin: 1%;
}
assignatura{
    color: greenyellow;
    font-weight: bold;
    font-size: 1.5em;
    border: 2px solid greenyellow;
}
nom{
    text-align: center;
}